body {
    background-color: #eeeeee;
    text-align: center;
}
.input-container {
    border: 1px solid white;
    border-radius: 5px;
}
.input-container input {
    padding: .7rem 0;
}
.input-container i {
    padding: .7rem 1rem .7rem 0;
}
.input-container:focus-within {
    border-color: #d40062;
}
.header {
    height: 3.5rem;
    text-align: center;
    background: white;
    border: 0 solid #eee;
    border-bottom-width: 1px;
    position: fixed;
    top: 0;
    z-index: 1;
}
.header img {
    height: 2rem;
    margin-top: .65rem;
}
.form-btn {
    display: inline-block;
    margin: 4rem;
    width: 12%;
    height: 45px;
    border: none;
    border-radius: 100px;
    background-color: #d40062;
    font-size: 18px;
    color: white;
}
.footer .social {
    display: flex;
    justify-content: center;
    padding-right: 0;
}
.footer .social li {
    width: 5px;
    height: 5px;
    display: inline-flex;
    margin: .75rem;
    padding: .75rem;
    justify-content: center;
    align-items: center;
    background: darkgrey;
    border-radius: 50%;
    cursor: pointer;
}
.footer .social li i {
    color: white;
}
.footer .options {
    display: flex;
    justify-content: center;
}
.footer .options li {
    display: inline;
    margin: 1rem;
    color: darkgrey;
}

/*the login section*/
.display-on-login .form-div > div {
    display: inline-block;
    width: 100%;
    margin: 3px auto;
    border-radius: 5px;
    background-color: white;
    /*padding: .7rem 1rem .7rem 0;*/
    text-align: right;
    color: grey;
}
.display-on-login .form-div > div > input {
    display: inline-block;
    background: none;
    border: none;
    min-width: 90%;
    font-size: 1rem;
    margin-right: 1rem;
}
.display-on-login .form-div > a {
    margin-top: 0.5rem;
    text-align: right;
    display: inline-block;
    width: 100%;
    font-size: 0.8rem;
    color: steelblue;
}

/*the register section*/
.display-on-reg .input-container {
    display: inline-block;
    width: 100%;
    margin: 3px auto;
    border-radius: 5px;
    background-color: white;
    text-align: right;
    color: grey;
}
.display-on-reg .input-container {
    /*padding: .7rem 1rem .7rem 0;*/
}
.display-on-reg .input-container > input {
    display: inline-block;
    background: none;
    border: none;
    min-width: 90%;
    font-size: 1rem;
    margin-right: 1rem;
}

/* TwoFieldContainer */
.display-on-reg .input-half-layout {
    width: 100%;
    display: flex;
    align-items: stretch;
    border-radius: 5px;
}
.display-on-reg .input-half-layout > div {
    flex-grow: 1;
    border-radius: 5px;
    background-color: white;
    /*padding: .7rem 1rem;*/
    color: grey;
}
.display-on-reg .input-half-layout > div > input {
    display: inline-block;
    background: none;
    border: none;
    min-width: 80%;
    margin-right: 1rem;
    font-size: 1rem;
}
.display-on-reg .input-half-left {
    margin-right: 3px;
}
.display-on-reg .input-half-right {
    margin-left: 3px;
}

.display-on-reg {
    display: none;
}

/*authentication-div*/
.authentication-div {
    z-index: 1;
}
.authentication-div > .auth-current-section {
    color: #d40062;
    border-width: 0 0 2px;
    border-style: solid;
}
.authentication-div > div:not(.auth-current-section) {
    border: 0 solid white;
    border-bottom-width: 2px;
    color: #4a4a4a;
    cursor: pointer;
}
.authentication-div > div:not(.auth-current-section):hover {
    border-color: #d40062;
}
.auth-section {
    min-height: 620px;
}