@import "https://use.fontawesome.com/releases/v5.8.1/css/all.css";
@font-face {
    font-family: Shabnam;
    src: url('../font/Shabnam.eot');
    src: url('../font/Shabnam.eot?#iefix') format('embedded-opentype'),
    url('../font/Shabnam.woff') format('woff'),
    url('../font/Shabnam.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: Shabnam;
    src: url('../font/Shabnam-Bold.eot');
    src: url('../font/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/Shabnam-Bold.woff') format('woff'),
    url('../font/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Shabnam;
    src: url('../font/Shabnam-Light.eot');
    src: url('../font/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/Shabnam-Light.woff') format('woff'),
    url('../font/Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
}
body, input, textarea, select, button {
    font-family: Shabnam,Arial;
    outline: none;
}
body {
    font-size: 0.85rem;
    color: #4a4a4a;
    margin: 0;
    background-color: #f5fafc;
}
#root {
    margin: 0;
}
input::-webkit-calendar-picker-indicator {
    display: none;
}
ul, li {
    list-style: none;
}
.header {
    background-color: #fff;
}
.header-container {
    display: flex;
    padding: 1rem 14%;
}
.header-container > div {
    flex-grow: 5;
    display: inline-block;
}
.header-container > div[order="final"] {
    flex-grow: 100;
    direction: ltr;
}
.splitter {
    vertical-align: baseline;
    vertical-align: -webkit-baseline-middle;
    width: 2px;
    background-color: rgba(139, 139, 139, 0.67);
    display: inline-block;
    height: 1.4em;;
    transform: translate(-50%, -50%);
    top: 50%;
    position: absolute;
    margin-right: -4px;
}
.splitter-container {
    position: relative;
}
.splitter-container > div {
    margin: 0 8px;
    display: inline-block;
}
a {
    color: #4a4a4a;
    text-decoration: none;
}
a:hover {
    color: red
}
.div-splitter {
    background-image: -webkit-linear-gradient(left, #fe0613 0%, #8e00ab 100%);
    background-image: -moz-linear-gradient(left, #fe0613 0%, #8e00ab 100%);
    background-image: -o-linear-gradient(left, #fe0613 0%, #8e00ab 100%);
    background-image: linear-gradient(to right, #fe0613 0%, #8e00ab 100%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    border-right: 0;
    border-left: 0;
    width: 100%;
    height: 3px;
    box-shadow: 0px 4px 10px #2d2c2c;
    position: relative;
}
.svg-reyhoon-icon {
    width: 135px;
    display: block;
    margin: auto;
    padding-top: 4rem;
}
.cursor-pointer{
    cursor: pointer;
}
.full-star {
    color: #ffc430;
}
.dark-star {
    color: #cecece;
}
.half-star {
    background: -webkit-linear-gradient(left, #ffc430 0%, #ffc430 50%, #cecece 50%, #cecece 100%);
    background: linear-gradient(to right, #ffc430 0%, #ffc430 50%, #cecece 50%, #cecece 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.score-number {
    font-size: 1.2em;
    font-weight: bold;
    color: #ffc430;
    vertical-align: middle;
    padding: 0 4px;
}
.number-of-comments {
    color: #999;
    font-size: 1.1em;
    vertical-align: middle;
    padding: 0 4px;
}
.res-score {
    display: inline-flex;
}
.lines-around:before {
    content: "";
    width: 2rem;
    height: 0.07rem;
    background-color: #ddd;
    margin: auto auto auto 1rem;
}
.lines-around:after {
    content: "";
    width: 2rem;
    height: 0.07rem;
    background-color: #ddd;
    margin: auto 1rem auto auto;
}
.score-stars {
    direction: ltr;
}
.res-food-types {
    color: #5c5c5c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin: auto;
    padding: 2rem 0 0;
    font-size: 0.85rem;
}
.res-food-types li {
    display: flex;
}
.res-food-types > li:not(:last-child):after{
    content: "";
    display: inline-block;
    width: .27rem;
    height: .27rem;
    border-radius: 1rem;
    margin: 0.6rem .4rem auto .4rem;
    background-color: #4f4f4f;
}
.res-shady-address {
    color: #777;
    position: relative;
    width: 100%;
}
.res-shady-address:after {
    content: "";
    height: 100%;
    display: block;
    position: absolute;
    background: -webkit-gradient(linear,left top,right top,color-stop(20%,#fff),to(hsla(0,0%,100%,0)));
    background: -webkit-linear-gradient(left,#fff 20%,hsla(0,0%,100%,0));
    background: -o-linear-gradient(left,#fff 20%,hsla(0,0%,100%,0) 100%);
    background: linear-gradient(90deg,#fff 20%,hsla(0,0%,100%,0));
    top: 0;
    left: 0;
    width: 60px;
}
.start-order-btn {
    font-size: 0.85rem;
    padding: 0.5rem 1.4rem;
    margiin-top: 1rem;
    color: rgb(212, 0, 98);
    border: 1px solid rgb(212, 0, 98);
    border-radius: 26px;
    -webkit-transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    cursor: pointer;
}
.best-restaurants {
    color: #aaa;
    display: flex;
    padding-top: 5px;
    margin:auto;
}
.best-restaurants > a {
    width: 20%;
    text-align: center;
    flex-grow: 5;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.best-restaurants > a > div {
    text-align: center;
    border-radius: 4px;
}
.restaurant-item-name {
    font-weight: bold;
    color: black;
    margin-top: 10px;
    font-size: 1.45em;
}
.page-title {
    padding: 4rem 0;
    margin-top: 6rem;
}
.form-div {
    width: 50%;
    margin: 3px auto;
}

.authentication-div {
    height: 3.5rem;
    display: flex;
    background: white;
    justify-content: center;
    text-align: center;
    color: grey;
    box-shadow: 0 .1rem .2rem rgba(0,0,0,.11);
    -webkit-box-shadow: 0 .1rem .2rem rgba(0,0,0,.11);
    top: 3.59rem;
    position: fixed;
}
.authentication-div div {
    padding: 0 .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 6rem;
}
.authentication-div div i {
    font-size: 1rem;
    margin-left: 7px;
}

/*footer*/

.footer {
    background: #1f1f1f;
}
.footer-info {
    display: flex;
    flex-direction: row-reverse;
    padding: 2rem 7.5rem;
    align-items: stretch;
}
.footer-info > div {
    margin: 0 15px;
    flex-grow: 1;
    border-width: 2px 0 0;
    border-style: solid;
}
.footer-info > div > h4 {
    color: #ccc;
    font-size: 13px;
    font-style: normal;
}
.footer-info > div > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: right;
    padding: 0;
}
.footer-info > div > ul > li {
    margin: 3px 0;
}

.footer-info-apps {
    border-color: yellow;
}
.footer-info-apps img {
    margin-right: -5px;
}

.footer-info-support {
    border-color: orange;
}

.footer-info-restaurants {
    border-color: red;
}

.footer-info-call {
    border-color: purple;
}

.footer-info-security {
    border-color: #1f1f1f;
    width: 250px;
    flex-grow: 3;
}
.footer-info-security a {
    color: dodgerblue;
}

.footer-credentials {
    text-align: center;
    padding: 2rem 0;
}
.footer-credentials img {
    height: 8rem;
    display: inline-block;
}
/* social part of footer */
.footer-social {
    background: #181818;
    display: flex;
    padding: 1rem 0;
    width: 100%;
    color: darkgrey;
    align-items: center;
}
.footer-social p {
    direction: ltr;
    flex-grow: 1;
}
.footer-social ul {
    flex-grow: 10;
    direction: ltr;
}
.footer-social ul li {
    display: inline;
    font-size: 1.25rem;
    margin: .5em;
}
.shady-line {
    width: 100%;
    margin: auto;
    position: relative;
    top: 20px;
    height: 1px;
    background: black;
    background: -webkit-gradient(
            linear,
            0 0,
            100% 0,
            from(white),
            to(white),
            color-stop(50%, #9b9b9b)
    );
}

.float-right {
    float: right;
}

.text-align-right {
    text-align: right;
}

.display-none {
    display: none;
}