.ord-div {
    min-height: 37vw;
    background: url('../img/home-page-bg.jpg') no-repeat -35% 0;
    background-size: 54vw;
    text-align: center;
    color: #9a9a9a;
    background-color: #fff;
}
.ord-title {
    margin-top: 0;
}
.ord-title h1 {
    color: black;
    font-size: 1.9vw;
    margin-bottom: 0.2rem;
    margin-top: 3rem;
}
.ord-title p {
    font-size: 0.87vw;
    padding-bottom: 0.5rem;
    margin-top: 10px;
}
.search-div {
    display: inline-block;
}
.search-bar-div {
    box-shadow: 2px 5px 9px #aaa;
    PADDING: 10px;
    border-radius: 6px;
    background-color: white;
}
.search-bar-div div, .search-bar-div fieldset {
    display: inline-block;
    vertical-align:middle;
}
.region-getter {
    margin: 0;
}
select::-ms-expand {
    display: none;
}
select{
    -webkit-appearance: none;
    appearance: none;
}
.dropdown-menu {
    height: 37px;
    padding: 0.7rem;
    border: 1px solid #dedede;
    margin-left: 0.3rem;
    border-radius: 8px;
}
.dropdown-menu input, .dropdown-menu select  {
    outline: none;
    border: none;
    font-size: 1.2rem;
    width: 4em;
    background: none;
    vertical-align: baseline;
    vertical-align: -webkit-baseline-middle;
}
.dropdown-menu select {
    vertical-align: baseline;
    vertical-align: -webkit-baseline-middle;
}
.dropdown-menu select option[disabled] {
    color: #aaa
}
.dropdown-menu i {
    padding-left: 0.9rem;
    margin-bottom: 6%;
    vertical-align: baseline;
    vertical-align: -webkit-baseline-middle;
    font-size: 1.5rem;
    color: black;
    vertical-align: baseline;
    vertical-align: -webkit-baseline-middle;
    margin-top: 6px;
}
.region-getter {
    margin-top: -0.4rem;
    height: 50px;
    border: 1px solid #dedede;
    border-radius: 8px;
}
.region-getter legend {
    padding-right: 0.6rem;
    padding-left: 1.7rem;
    font-size: 0.7em;
    color: black;
    text-align: right;
}
.region-getter-typable {
    padding: 0.3rem;
}
.region-getter-typable input, .region-getter-typable select {
    outline: none;
    border: none;
    font-size: 1.2rem;
    width: 30rem;
    background: none;
}
.region-getter-typable i {
    padding-right: 0.4rem;
    padding-left: 0.9rem;
    margin-bottom: 3%;
    vertical-align: baseline;
    vertical-align: -webkit-baseline-middle;
    font-size: 1.5rem;
    color: #d8d8d8;
}
.search-icon-div {
    background-image: -webkit-linear-gradient(45deg, #d40062 30%, #8e00ab 90%);
    background-image: -moz-linear-gradient(45deg, #d40062 30%, #8e00ab 90%);
    background-image: -o-linear-gradient(45deg, #d40062 30%, #8e00ab 90%);
    background-image: linear-gradient(45deg, #d40062 30%, #8e00ab 90%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    border-right: 0;
    border-left: 0;
    border-radius: 7px 0 0 7px;
    height: 60px;
    width: 61px;
    margin-top: -14px;
    margin-left: -11px;
}
.search-icon-div a {
    display: inline-block;
    height: 100%;
    width: 100%;
}
.search-icon-div i {
    font-size: 1.6rem;
    vertical-align: baseline;
    vertical-align: -webkit-baseline-middle;
    color: white;
    margin-top: 30%;
}
.last-search {
    text-align: right;
    margin-top: -8px;
}
.last-search p{
    text-decoration: underline;
    font-size: 0.8rem
}
.last-search i {
    text-decoration: underline;
    font-size: 0.7rem
}
.steps-help {
    color: #aaa;
    display: flex;
    padding-top: 5px;
    width: 80vw;
    margin:auto;
}
.steps-help > div {
    flex-grow: 5;
    text-align: center;
    width: 20%;
    margin-left: 3.5%;
    margin-right: 3.5%;
}
.help-outer-div {
    display: flex;
}
.help-outer-div > div > p{
    text-align: right;
    font-size: 17px;
    margin: 4% 0;
    height: 8%;
}
.help-inner-div {
    background-color: white;
    box-shadow: 0 0 16px #ccc;
    display: inline-flex;
    height: 70%;
    padding: 7% 15px;
    border-radius: 2px;
}
.help-inner-div p{
    line-height: 23pt;
    margin: auto
}
.help-img-div {
    margin: auto 7px;
}
.help-img-div svg {
    position: absolute;
    margin-top: 28px;
    padding: 3px;
    width: 30px;
    border: 2px solid white;
    border-radius: 50%;
    background-image: -webkit-linear-gradient(45deg, #d40062 30%, #8e00ab 90%);
    background-image: -moz-linear-gradient(45deg, #d40062 30%, #8e00ab 90%);
    background-image: -o-linear-gradient(45deg, #d40062 30%, #8e00ab 90%);
    background-image: linear-gradient(45deg, #d40062 30%, #8e00ab 90%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.help-img-div img{
    width: 50px;
}
.restaurant-big-item {
    background-color: white;
    height: 100%;
    padding: 20px 15px 0px 15px;
    box-shadow: 0 0 8px #ccc;
    -webkit-box-shadow: 0 0 8px #ccc;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    cursor: pointer;
}
.restaurant-big-item img {
    width: 80px;
    webkit-box-shadow: 0 0.25rem 1.1rem #ccc;
    box-shadow: 0 0.25rem 1.1rem #ccc;
}
.restaurant-big-item:hover {
    box-shadow: 0 0 17px #acacac;
    -webkit-box-shadow: 0 0 17px #acacac;
}
.restaurant-big-item:hover .start-order-btn{
    background-color: rgba(212,0,98,.05)
}
.bests-res-div {
    width: 70vw;
    margin: 175px auto auto;
    text-align: center;
}
.bests-res-title {
    margin: auto;
    color: black;
}
.good-tehran-restaurants {
    margin-top: 125px;
    background: url('../img/good-rest-background.jpg') no-repeat 15% 0;
    background-size: cover;
}
.good-tehran-restaurants > p {
    margin-right: 3rem;
    padding-top: 3rem;
    font-weight: bold;
    font-size: 1.1rem;
}
.good-tehran-row {
    display: inline-flex;
    text-align: center;
    width: 100%;
    padding-top: 40px;
}
.good-tehran-item > p {
    color: #4c4c4c;
    margin-top: -2px;
    font-weight: bold;
    font-size: 0.88em;
    min-width: 125px;
}
.good-tehran-item > img {
    width: 80px;
    box-shadow: 0 0 8px #ccc;
    -webkit-box-shadow: 0 0 8px #ccc;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}
.good-tehran-item:hover > img{
    box-shadow: 0 0 17px #acacac;
    -webkit-box-shadow: 0 0 17px #acacac;
}
.good-tehran-rest-section {
    width: 50%;
    margin-right: 6%;
    margin-top: 70px;
}
.good-tehran-rest-section a {
    flex-grow: 1;
}
.food-type-show {
    text-align: center;
}
.food-type-show > h1 {
    color: black;
}
.food-type-show > p {
    color: #bbb;
    font-size: 1.3em;
}
.food-type-show-outer {
    width: 80vw;
    display: inline-flex;
    height: 19rem;
}
.food-type-show-outer > a {
    flex-grow: 1;
    display: flex;
}
.food-type-show-inner {
    width: 17.5vw;
    text-align: right;
    border-radius: 4px;
}
.food-type-show-inner p {
    color: white;
    font-size: 1.2em;
    margin-top: 0.4rem;
}
.food-type-show-inner h2{
    color: white;
    margin: 0;
    padding-top: 84%;
    font-size: 1.7em;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}
.food-type-show-inner:hover h2 {
    padding-top: 79%;
}
.food-type-show-inner-shade {
    height: 100%;
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .02) 10%, rgba(0, 0, 0, 0.82));
    padding-right: 1.5rem;
    border-radius: 4px;
}
.more-foods-div {
    width: 70vw;
    text-align: center;
    margin: 65px auto auto;
}
.more-foods-div > h1 {
    font-weight: normal;
    color: black
}
.more-food-items div {
    display: inline-block;
    font-weight: bold;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 0 2px #eee;
    -webkit-box-shadow: 0 0 2px #eee;
    color: black;
    font-size: 1.1rem;
    padding: 12px 19px;
}
.more-food-items div:hover {
    box-shadow: 0 0 8px #ccc;
    -webkit-box-shadow: 0 0 8px #ccc;
}
.app-div {
    width: 70vw;
    margin: 170px auto auto;
}
.app-div-outer {
    width: 100%;
    height: 520px;
    background-color: white;
    box-shadow: 0 0 2px #eee;
    -webkit-box-shadow: 0 0 2px #eee;
    display: flex;
}
.app-div-right-side {
    flex-grow: 3;
}
.app-div-left-side {
    display: inline-flex;
    flex-grow: 1;
}
.app-div-left-side img {
    margin-top: -150px;
    margin-left: -260px;
    height: 793px;
}
.app-div-right-side h1 {
    margin-right: 30px;
    margin-top: 30px;
}
.app-div-right-side p {
    margin-right: 30px;
    font-size: 1.5em;
}
.rec-link-div {
    display: inline-flex;
    border: 1px solid #a0a0a08a;
    border-radius: 70px;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    margin-right: 30px;
    margin-top: 20px;
    box-shadow: 0 0 15px #ddd;
    -webkit-box-shadow: 0 0 15px #ddd;
}
.rec-link-div:focus-within {
    border: 1px solid #8e00ab;
}
.recv-link-btn {
    background-image: -webkit-linear-gradient(45deg, #d40062 30%, #8e00ab 90%);
    background-image: -moz-linear-gradient(45deg, #d40062 30%, #8e00ab 90%);
    background-image: -o-linear-gradient(45deg, #d40062 30%, #8e00ab 90%);
    background-image: linear-gradient(45deg, #d40062 30%, #8e00ab 90%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    border-right: 0;
    border-left: 0;
    margin-left: -11px;
    color: white;
    text-align: center;
    padding-top: 1.2rem;
    height: 3.6rem;
    margin-top: 0px;
    width: 15rem;
    border-radius: 70px 0 0 70px;
}
.rec-link-div .region-getter-typable {
    width: 20rem;
}
.rec-link-div .region-getter-typable input {
    height: 2.5rem;
    padding-right: 30px;
    padding-top: 0.35rem;
}
.app-div-access-msg {
    padding-top: 10px;
    font-size: 0.8rem;
    color: #aaa;
}
.app-download-links {
    margin-right: 30px;
}
.app-download-links div {
    display: inline-block;
    font-weight: bold;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    border-radius: 7px;
    background-color: white;
    color: black;
    font-size: 1.1rem;
    padding: 0px 0px;
}
.app-download-links div:hover {
    box-shadow: 0 0 8px #ddd;
    -webkit-box-shadow: 0 0 8px #ddd;
}