.react-tabs {
    -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
    padding: 0;
    margin: -4.3rem 0 10px;
}

.react-tabs__tab {
    display: inline-block;
    border-bottom: none;
    bottom: -25px;
    width: 30%;
    position: relative;
    list-style: none;
    padding: 6px 1%;
    cursor: pointer;
    color: #9b9b9b;
    outline: none;
}

.react-tabs__tab--selected {
    background: #fff;
    border-color: #aaa;
    color: black;
    border-radius: 5px 5px 0 0;
}

.react-tabs__tab--selected:after {
    content: "";
    background: #d40062;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 2px;
    width: 50px;
}

.react-tabs__tab--disabled {
    cursor: default;
}

.react-tabs__tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
}

.react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
}

.react-tabs__tab-panel {
    display: none;
    margin-top: 50px;
}

.react-tabs__tab-panel--selected {
    display: block;
}