body {
    background-color: #eeeeee;
    text-align: center;
}
.input-container {
    border: 1px solid white;
    border-radius: 5px;
}
.input-container:focus-within {
    border-color: #d40062;
}
.header {
    height: 3.5rem;
    text-align: center;
    background: white;
    border: 0 solid #eee;
    border-bottom-width: 1px;
    position: fixed;
    top: 0;
}
.header img {
    height: 2rem;
    margin-top: .65rem;
}
.auth-login {
    color: #d40062;
    border-width: 0 0 2px;
    border-style: solid;
}
.auth-reg {
    border: 0 solid white;
    border-bottom-width: 2px;
    color: #4a4a4a;
}
.auth-reg:hover {
    border-color: #d40062;
}
.form-div > div {
    display: inline-block;
    width: 100%;
    margin: 3px auto;
    border-radius: 5px;
    background-color: white;
    padding: .7rem 1rem;
    text-align: right;
    color: grey;
}
.form-div > div > input {
    display: inline-block;
    background: none;
    border: none;
    min-width: 90%;
    font-size: 1rem;
    margin-right: 1rem;
}
.form-div > a {
    margin-top: 0.5rem;
    text-align: right;
    display: inline-block;
    width: 100%;
    font-size: 0.8rem;
    color: steelblue;
}
.form-btn {
    display: inline-block;
    margin: 4rem;
    width: 12%;
    height: 45px;
    border: none;
    border-radius: 100px;
    background-color: #d40062;
    font-size: 18px;
    color: white;
}
.footer .social {
    display: flex;
    justify-content: center;
}
.footer .social li {
    width: 5px;
    height: 5px;
    display: inline-flex;
    margin: .75rem;
    padding: .75rem;
    justify-content: center;
    align-items: center;
    background: darkgrey;
    border-radius: 50%;
}
.footer .social li i {
    color: white;
}
.footer .options {
    display: flex;
    justify-content: center;
}
.footer .options li {
    display: inline;
    margin: 1rem;
    color: darkgrey;
}